---
title: Site Reliability Engineering
---

<h2>SRE</h2>

<p class="doc">
    There deserves to be some clarification here, because there is some confusion around the term "dev/ops" since it is often misunderstood, given that there are many job titles such as "dev/ops engineer". <%= link_to "Wikipedia", "https://en.wikipedia.org/wiki/DevOps", class: "inline" %> does a pretty good job of explaning this:
</p>
<p class="blockquote">
    DevOps (a clipped compound of "development" and "operations") is a culture, movement or practice that emphasizes the collaboration and communication of both software developers and other information-technology (IT) professionals while automating the process of software delivery and infrastructure changes.[1][2] It aims at establishing a culture and environment where building, testing, and releasing software, can happen rapidly, frequently, and more reliably.[3][4][5]"
</p>
<p>
    Thus dev/ops is not a job title, nor a role in a company.  Dev/ops is a way of operating; a culture that dictats how development and operations should relate to each other.
</p>
<p>
    One of the "bibles" of modern dev/ops practice is "The Pheonix Project" by Gene Kim
    <center>
        <%= link_to "#{image_tag("http://ecx.images-amazon.com/images/I/71YnKiUYDBL.jpg", width: 200)}", "http://www.amazon.com/Phoenix-Project-DevOps-Helping-Business/dp/0988262509/ref=sr_1_1?ie=UTF8&qid=1461251530&sr=8-1&keywords=the+phoenix+project", target: "_blank", class: "inline" %>
    </center>


<h2>SRE At Google</h2>
<p class="doc">
    Ben Treynor is the father of modern operations practices, or "Site Reliability Engineering".  Site Reliability Engineering is described as what happens with Software Engineers are asked to run an operations department.  Here he is describing SRE at google, in his own words:
</p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/n4Wf14e2jxQ?autoplay=0">
</iframe>
