a {
  color: #555;
  padding: 0;
  border: 0;
  text-decoration: underline;
  margin-right: 0;
}

div.box {
    padding: 0 0.7em .75em .7em;
    min-height: 16em;
    border: 2px solid #555;
    float: left;
    text-align: left;
    &:hover {
        background: rgba(0,0,0,.3);
    }
}

a.anchor {
    text-decoration: none;
    padding: 0;
    border: 0;
    &:hover {
        color: #333;
    }
}

a {
  transition: color 0.1s linear;
  &:hover {
    color: black;
    transition: all 0.15s linear;
  }
}
