
.pull-right {
  right: 1.5em;
  position: absolute
}

.navbar {
  font-size: 2em;
  background: #333;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  padding: .2em .5em;
  color: #EEE;
  font-weight: 100;
  .title {
    float: left;
    text-align: left;
  }

  a {
      color: white;
      text-decoration: none;
      &:hover {
          color: #777;
      }
  }
}
