
.pull-right {
  right: 1.5em;
}

.navbar {
  font-size: 2em;
  background: #333;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  padding: .2em .5em;
  color: #EEE;
  font-weight: 100;
  .title {
    float: left;
    text-align: left;
  }

  a {
      color: white;
      text-decoration: none;
      &:hover {
          color: #777;
      }
  }
}
.content > h3 {
    margin-top: 0;

}
.plain .navbar {
    padding: 0;
    margin-top: 2.5em;
    margin-bottom: 0;
    position: relative;

    background: rgba(0,0,0,0);
    color: #333;
    a {
        color: #777;
        &:hover {
            color: #333;
        }
    }
}
