@charset "utf-8";
// Vendor
@import "normalize";
@import "bootstrap";

// Custom
@import "footer";
@import "images";
@import "links";
@import "navbar";
@import "newsfeed";

body {
  background: #789;
  font-family: "Courier", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

body.plain {
    font-size: 16px;
    background: #FFF;
    .page {
        border: 0
    }
}

.blockquote {
  padding-left: 2em;
  border-left: 4px solid #777;
  text-align: left;
}



.cover img {
  width: 120%;
  position: fixed;
  top: -10%;
  left: 0;
  z-index: 1;
  -webkit-filter: blur(3px) grayscale(75%) opacity(50%);
  filter: blur(3px) grayscale(75%) opacity(50%);
}

.fill img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  position: relative;
}

ol.menu {
    margin: 2em 0em 5em 0em;
}

.page {

  border: 1px solid #999;
  border-radius: 5px;
  position: absolute;
  margin-left: 0;
  z-index: 5;
  margin-top: 5%;
  background-color: white;
  color: #333;
  font-size: 16px;
  line-height: 1.8em;
  .content {
    padding: 4em;
  }
}

hr {
    margin: 3em 0em;
}

hr.mini {
    width: 8%;
    text-align: left;
    display: block;
    margin: 2em 0em;
    height: 1px;
    background-color: #DDD;
}

li {
  text-align: left;
}

.plain .page {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6, .title, .navbar {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
    font-size: 1.3em;
}

h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: 200;
}

h1 {
    text-align: left;
    color: rgba(0,0,0,0.5);
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}

p {
  text-align: left;
  margin: 2em 0;
  font-weight: 300;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
