---
title: Networking
layout: plain
---
<div class="logo pull-right">
  <%= image_tag "networking.jpg" %>
</div>

<p><a href="history.html">History</a></p>

<p>
Understanding networking, and more deeply, how the internet works is fundamental to operations and SRE.  This is why one of the most common interview questions is "What happens when you type [insert company name here.com] into your web browser.".  This is a question that could take hours to answer.
</p>

<p>
The best place to start your networking education is to learn the OSI Model.  The OSI Model is a seven layer conceptual model to understand the different functions in networking processes and protocols.  
http://wikipedia.org/wiki/OSI_model provides a good overview.  
</p>

<p>
If you are a network engineer, you really only think about the bottom four layers.  Transport, Network, Data-Link and Physical.  Everything above that is just "Application".  If you are an application programmer, you probably spend more time thinking about the top 3 layers.  "Application, Presentation, and Session".  
</p>

<p>
The OSI model's overview is general to all networking, but the internet is based on two foundational protocols.  The layer 3 protocol: IP and the layer 4 protocol: TCP.  

http://en.m.wikipedia.org/wiki/Internet_protocol_suite
</p>

<p>

</p>
