---
title: Map
layout: plain
---
<br />
<center><%= link_to "Home", "/" %></center>
<br />
<br />

<div class="row">
    <div class="col-xs-4">
        <div class="history-tl-container">
            <ul class="tl">
                <a href="/linux">
                    <li class="tl-item">
                        <div class="item-title">Linux</div>
                        <div class="item-detail">An overview of Linux</div>
                    </li>
                </a>
                <a href="/linux/curriculum">
                    <li class="tl-item">
                        <div class="item-title">Linux Curriculum</div>
                        <div class="item-detail">A curriculum for learning Linux</div>
                    </li>
                </a>
                <!--
                <a href="/databases">
                    <li class="tl-item category">
                        <div class="item-title">Databases</div>
                        <div class="item-detail">An overview of databases</div>
                    </li>
                </a>
                <ul class="tl">
                    <a href="/databases/sql">
                        <li class="tl-item">
                            <div class="item-title">SQL</div>
                            <div class="item-detail">An overview of SQL databases</div>
                        </li>
                    </a>
                    <a href="/databases/nosql">
                        <li class="tl-item">
                            <div class="item-title">NoSQL</div>
                            <div class="item-detail">An overview of NoSQL databases</div>
                        </li>
                    </a>
                </ul>
                -->
            </ul>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="history-tl-container">
            <ul class="tl">
                <a href="/networking">
                    <li class="tl-item">
                        <div class="item-title">Networking</div>
                        <div class="item-detail">An overview of Networking</div>
                    </li>
                </a>
            </ul>
        </div>
    </div>

<div class="col-xs-4">
    <div class="history-tl-container">
        <ul class="tl">
            <a href="/development">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="item-title">Development</div>
                    <div class="item-detail">An Overview of Development</div>
                </li>
            </a>
            <a href="/development/config_management">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="item-title">Configuration Management</div>
                    <div class="item-detail">An Overview of Configuration Management</div>
                </li>
            </a>
      </ul>

    </div>
</div>
